{% include 'header.html.twig' %}
<main>
    <article id="detail-oeuvre">
        <div id="img-oeuvre">
            <img src="{{ oeuvre.image }}" alt="{{ oeuvre.titre }}">
        </div>
        <div id="contenu-oeuvre">
            <h1>{{ oeuvre.titre }}</h1>
            <p class="description">{{ oeuvre.artiste }}</p>
            <p class="description-complete">
                {{ oeuvre.description }}
            </p>
        </div>
    </article>

    <div class="button-group">
        <a href="/update/{{ oeuvre.id }}" class="modify-btn">
            <button class="btn btn-modify">Modifier</button>
        </a>

        <form action="/delete/{{ oeuvre.id }}" method="POST" class="delete-form">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-delete">Supprimer</button>
        </form>
    </div>
</main>
{% include 'footer.html.twig' %}
