{% include 'header.php' %}

<div id="liste-oeuvres">
    {% for oeuvre in oeuvres %}
        <article class="oeuvre">
            <a href="{{oeuvre.id }}">
                <img src="{{ oeuvre.img }}" alt="{{ oeuvre.titre }}">
                <h2>{{ oeuvre.titre }}</h2>
                <p class="description">{{ oeuvre.description }}</p>
            </a>
        </article>
    {% endfor %}
</div>

{% include 'footer.php' %}